/*done by Coderiver.com.ua */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,latin);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { font-size: 62.5%; }

body { font-family: "Open Sans", sans-serif; font-weight: normal; font-size: 12px; line-height: 1.2; background: white; }

.has-error { color: red; }

.error { border-color: red; }

.form-error { display: none; }

.l-center { width: 980px; margin: auto; }
.header .l-center, .page_first .l-center, .footer__top .l-center { position: relative; }

html, body { margin: 0; padding: 0; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

#superContainer { height: 100%; position: relative; -ms-touch-action: none; touch-action: none; }

.fp-section { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.fp-slide { float: left; height: 100%; display: block; }

.fp-slidesContainer { height: 100%; display: block; }

.fp-slides { z-index: 1; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table { display: table; width: 100%; }

.fp-tableCell { display: table-cell; vertical-align: middle; width: 100%; height: 100%; }

.fp-slidesContainer { float: left; position: relative; }

.fp-controlArrow { position: absolute; z-index: 4; top: 50%; cursor: pointer; width: 0; height: 0; border-style: solid; margin-top: -38px; }
.fp-controlArrow.fp-prev { left: 15px; width: 0; border-width: 38.5px 34px 38.5px 0; border-color: transparent white transparent transparent; }
.fp-controlArrow.fp-next { right: 15px; border-width: 38.5px 0 38.5px 34px; border-color: transparent transparent transparent white; }

.fp-scrollable { overflow: scroll; }

.fp-easing { -webkit-transition: all 0.7s ease-out; transition: all 0.7s ease-out; }

#fp-nav { position: fixed; z-index: 100; margin-top: -32px; top: 50%; opacity: 1; }
#fp-nav.right { right: 17px; }
#fp-nav.left { left: 17px; }

.fp-slidesNav { position: absolute; z-index: 4; left: 50%; opacity: 1; }
.fp-slidesNav.bottom { bottom: 17px; }
.fp-slidesNav.top { top: 17px; }

#fp-nav ul, .fp-slidesNav ul { margin: 0; padding: 0; }

#fp-nav li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; }

.fp-slidesNav li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; display: inline-block; }

#fp-nav li a, .fp-slidesNav li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }

#fp-nav li .active span, .fp-slidesNav .active span { background: #333333; }

#fp-nav span, .fp-slidesNav span { top: 2px; left: 2px; width: 8px; height: 8px; border: 1px solid black; background: rgba(0, 0, 0, 0); border-radius: 50%; position: absolute; z-index: 1; }

.fp-tooltip { position: absolute; top: -2px; color: white; font-size: 14px; font-family: arial, helvetica, sans-serif; white-space: nowrap; max-width: 220px; }
.fp-tooltip.right { right: 20px; }
.fp-tooltip.left { left: 20px; }

.cd-container { width: 90%; max-width: 1170px; margin: 0 auto; }
.cd-container::after { content: ""; display: table; clear: both; }

.cd-img-replace { display: inline-block; overflow: hidden; text-indent: 100%; white-space: nowrap; }

#cd-gallery-items { margin-top: 1.5em; }
#cd-gallery-items > li { position: relative; margin-bottom: 6em; }
#cd-gallery-items > li img { max-width: 100%; display: block; }

.cd-item-wrapper { -webkit-perspective: 500px; -moz-perspective: 500px; perspective: 500px; -webkit-perspective-origin: 50% -30%; -moz-perspective-origin: 50% -30%; perspective-origin: 50% -30%; }
.cd-item-wrapper li { position: absolute; top: 0; left: 0; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
.cd-item-wrapper li.cd-item-front { position: relative; z-index: 3; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
.cd-item-wrapper li.cd-item-middle { z-index: 2; }

.active .cd-item-wrapper li.cd-item-middle { -webkit-transform: translate3d(0, 0, -20px); -moz-transform: translate3d(0, 0, -20px); -ms-transform: translate3d(0, 0, -20px); -o-transform: translate3d(0, 0, -20px); transform: translate3d(0, 0, -20px); opacity: 0.8; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

.cd-item-wrapper li.cd-item-back { z-index: 1; }

.active .cd-item-wrapper li.cd-item-back { -webkit-transform: translate3d(0, 0, -40px); -moz-transform: translate3d(0, 0, -40px); -ms-transform: translate3d(0, 0, -40px); -o-transform: translate3d(0, 0, -40px); transform: translate3d(0, 0, -40px); opacity: 0.4; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

.cd-item-wrapper li.cd-item-out { z-index: 0; opacity: 0; -webkit-transform: translate3d(0, 0, -60px); -moz-transform: translate3d(0, 0, -60px); -ms-transform: translate3d(0, 0, -60px); -o-transform: translate3d(0, 0, -60px); transform: translate3d(0, 0, -60px); }
.cd-item-wrapper li.move-right { -webkit-transform: translate3d(200px, 0, 0); -moz-transform: translate3d(200px, 0, 0); -ms-transform: translate3d(200px, 0, 0); -o-transform: translate3d(200px, 0, 0); transform: translate3d(200px, 0, 0); opacity: 0; z-index: 4 !important; }
.cd-item-wrapper li.hidden { display: none !important; }

.no-csstransitions .cd-item-wrapper li.cd-item-middle, .no-csstransitions .cd-item-wrapper li.cd-item-back { display: none; }

.cd-item-info { position: absolute; top: 100%; left: 0; width: 100%; height: 70px; line-height: 70px; background-color: #f2f2f2; padding: 0 1em; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); z-index: 5; }
.cd-item-info:after { content: ""; display: table; clear: both; }
.cd-item-info b { float: left; font-weight: bold; }
.cd-item-info b a { color: #323d55; }
.cd-item-info b a:hover { text-decoration: underline; }
.cd-item-info em { float: right; color: #7385ad; }

.cd-item-navigation a { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); background: url('../img/icons-s79fb5bdedd.png') 0 -918px no-repeat; width: 27px; height: 70px; z-index: 4; display: block; visibility: hidden; opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.cd-item-navigation a.visible { visibility: visible; opacity: 1; }
.cd-item-navigation li:nth-child(1) a { left: -80px; -webkit-transform: translateY(-50%) rotate(180deg); -moz-transform: translateY(-50%) rotate(180deg); -ms-transform: translateY(-50%) rotate(180deg); -o-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg); }
.cd-item-navigation li:nth-child(2) a { right: -80px; }

.gallery_video .d-item-navigation li:nth-child(1) a { left: -40px; }
.gallery_video .d-item-navigation li:nth-child(2) a { right: -40px; }

@-webkit-keyframes cd-fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-moz-keyframes cd-fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes cd-fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

.cd-3d-trigger { position: absolute; bottom: 10px; right: 10px; width: 44px; height: 44px; background: url("../img/cd-icon-3d.svg") no-repeat center center; z-index: 4; }

.no-touch .cd-3d-trigger { display: none; }
.no-touch #cd-gallery-items > li:hover .cd-item-middle, .no-touch #cd-gallery-items > li:hover .cd-item-back { box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
.no-touch #cd-gallery-items > li:hover .cd-item-middle { -webkit-transform: translate3d(0, 0, -20px); -moz-transform: translate3d(0, 0, -20px); -ms-transform: translate3d(0, 0, -20px); -o-transform: translate3d(0, 0, -20px); transform: translate3d(0, 0, -20px); opacity: 0.8; }
.no-touch #cd-gallery-items > li:hover .cd-item-back { -webkit-transform: translate3d(0, 0, -40px); -moz-transform: translate3d(0, 0, -40px); -ms-transform: translate3d(0, 0, -40px); -o-transform: translate3d(0, 0, -40px); transform: translate3d(0, 0, -40px); opacity: 0.4; }

.gallery { width: 725px; height: 483px; margin: auto; }
@media only screen and (max-height: 850px) { .gallery { width: 675px; height: 450px; } }
.gallery.gallery_video { width: 800px; height: 450px; }
@media only screen and (max-height: 850px) { .gallery.gallery_video { width: 700px; height: 400px; } }
.gallery .gallery__pic { width: 725px; height: 483px; overflow: hidden; }
@media only screen and (max-height: 850px) { .gallery .gallery__pic { width: 675px; height: 450px; } }
.gallery .gallery__pic img { display: block; max-width: 100%; }
.gallery .gallery__video { width: 800px; height: 450px; }
.gallery .gallery__video iframe { display: block; }
@media only screen and (max-height: 850px) { .gallery .gallery__video { width: 700px; height: 400px; } }
.gallery .gallery__video-cap { position: absolute; bottom: -50px; background: white; font-family: "Open Sans", sans-serif; font-weight: 100; height: 50px; width: 100%; text-align: center; font-size: 0; }
.gallery .gallery__video-cap:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.gallery .gallery__video-cap p { display: inline-block; vertical-align: middle; text-align: left; width: 100%; line-height: 1.2; font-size: 12px; font-size: 1.2rem; }
.gallery .gallery__video-cap strong { font-size: 14px; font-size: 1.4rem; font-family: "Open Sans", sans-serif; font-weight: normal; margin-right: 20px; }
.gallery .gallery__like { position: absolute; bottom: 14px; right: 14px; }
.gallery .gallery__like-vk, .gallery .gallery__like-fb { margin-top: 10px; float: right; clear: right; }

.page { background-color: white; opacity: 1; position: relative; z-index: 1; }
.page.page_first, .page.page_last { background-position: 50% 55%; background-repeat: no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.page.page_last:after { content: ""; display: block; position: absolute; z-index: -1; top: 0; right: 0; bottom: 0; left: 0; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.45))); background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.45) 100%); background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.45) 100%); background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.45) 100%); background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.45) 100%); }
.page.is-slidedown, .page.is-slideup { -webkit-transition: 1s linear; -moz-transition: 1s linear; -o-transition: 1s linear; transition: 1s linear; opacity: 0; z-index: -100; opacity: 0; }
.page.is-slidedown { -webkit-transform: translateY(700px); -moz-transform: translateY(700px); -ms-transform: translateY(700px); -o-transform: translateY(700px); transform: translateY(700px); }
.page.is-slideup { -webkit-transform: translateY(-700px); -moz-transform: translateY(-700px); -ms-transform: translateY(-700px); -o-transform: translateY(-700px); transform: translateY(-700px); }

.is-hidden { display: none; }

.header { position: fixed; z-index: 200; top: 0; margin: auto; padding-top: 16px; width: 100%; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
.header .header__logo { display: block; background: url('../img/icons-s79fb5bdedd.png') 0 0 no-repeat; width: 140px; height: 140px; position: absolute; z-index: 2; top: 0; left: 50%; margin-left: -70px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.header .header__tel.is-hidden { width: 0; margin: 0; overflow: hidden; }
.header .header__tel a { padding-left: 14px; position: relative; }
.header .header__tel a:before { content: ""; display: block; background: url('../img/icons-s79fb5bdedd.png') 0 -1130px no-repeat; width: 11px; height: 12px; position: absolute; top: 4px; left: 0; }
.header.is-small { background: white; border-bottom: 1px solid #eaedee; padding: 17px 0; line-height: 68px; font-size: 0; }
@media only screen and (max-height: 850px) { .header.is-small { padding: 5px 0; } }
.header.is-small .nav { float: left; font-size: 0; line-height: 1; padding-left: 91px; white-space: nowrap; }
.header.is-small .nav li { line-height: 68px; margin-right: 20px; }
.header.is-small .nav li:last-child { margin-right: 0; }
.header.is-small .nav li a { display: inline-block; vertical-align: middle; line-height: 1.4; position: relative; top: 3px; }
.header.is-small .nav__left, .header.is-small .nav__right { display: inline-block; position: static; margin: 0 20px 0 0; text-align: left; }
.header.is-small .nav__right { margin-right: 0; }
.header.is-small .social { display: inline-block; margin: 0 0 0 5px; }
.header.is-small .header__logo { -webkit-transform: translateY(-36px) translateX(-456px) scale(0.4857) rotate(-360deg); -moz-transform: translateY(-36px) translateX(-456px) scale(0.4857) rotate(-360deg); -ms-transform: translateY(-36px) translateX(-456px) scale(0.4857) rotate(-360deg); -o-transform: translateY(-36px) translateX(-456px) scale(0.4857) rotate(-360deg); transform: translateY(-36px) translateX(-456px) scale(0.4857) rotate(-360deg); }

.nav { position: relative; line-height: 140px; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
.nav li { display: inline-block; vertical-align: middle; margin-right: 16px; font-size: 0; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
.nav li:last-child { margin-right: 0; }
.nav a { text-decoration: none; text-transform: uppercase; color: #5c1d0c; font-size: 14px; font-size: 1.4rem; vertical-align: baseline; }
.nav a:hover, .nav a.active { color: #cc3300; }
.nav .nav__left, .nav .nav__right { display: block; position: absolute; top: 0; font-size: 0; white-space: nowrap; }
.nav .nav__left { right: 50%; text-align: right; margin-right: 100px; }
.nav .nav__right { left: 50%; margin-left: 100px; }

.social .icon { display: inline-block; vertical-align: middle; position: relative; top: -2px; }
.social .icon:hover { opacity: 0.8; }
.social .icon:not(:last-child) { margin-right: 3px; }
.social .icon_fb { background: url('../img/icons-s79fb5bdedd.png') 0 -796px no-repeat; width: 33px; height: 32px; }
.social .icon_vk { background: url('../img/icons-s79fb5bdedd.png') 0 -754px no-repeat; width: 33px; height: 32px; }
.social .icon_instagram { background: url('../img/icons-s79fb5bdedd.png') 0 -712px no-repeat; width: 33px; height: 32px; }
.social .icon_vimeo { background: url('../img/icons-s79fb5bdedd.png') 0 -670px no-repeat; width: 33px; height: 32px; }
.header .social { display: none; }
.header .social.is-visible { display: inline-block; }

.title { text-align: center; font-family: "PT Sans", sans-serif; font-weight: normal; font-size: 48px; font-size: 4.8rem; color: #282828; line-height: 1; letter-spacing: -0.1rem; padding: 150px 0 50px; }
@media only screen and (max-height: 850px) { .title { padding: 90px 0 10px; font-size: 40px; font-size: 4rem; } }
.title.title_head { font-size: 62px; font-size: 6.2rem; padding-top: 224px; line-height: 1.03; color: #5c1d0c; }

.move-down, .move-up { display: block; position: absolute; left: 50%; margin-left: -30px; opacity: 0.8; }
.move-down:hover, .move-up:hover { opacity: 1; }

.move-down { background: url('../img/icons-s79fb5bdedd.png') 0 -530px no-repeat; width: 60px; height: 60px; bottom: 115px; -webkit-animation: move-down 2s linear infinite; -moz-animation: move-down 2s linear infinite; -o-animation: move-down 2s linear infinite; animation: move-down 2s linear infinite; }

.move-up { background: url('../img/icons-s79fb5bdedd.png') 0 -600px no-repeat; width: 60px; height: 60px; bottom: 29px; }

@-moz-keyframes move-down { 0%, 100% { -moz-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -moz-transform: translateY(5px); transform: translateY(5px); } }

@-webkit-keyframes move-down { 0%, 100% { -webkit-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -webkit-transform: translateY(5px); transform: translateY(5px); } }

@-o-keyframes move-down { 0%, 100% { -o-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -o-transform: translateY(5px); transform: translateY(5px); } }

@-ms-keyframes move-down { 0%, 100% { -ms-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -ms-transform: translateY(5px); transform: translateY(5px); } }

@keyframes move-down { 0%, 100% { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -webkit-transform: translateY(5px); -moz-transform: translateY(5px); -ms-transform: translateY(5px); -o-transform: translateY(5px); transform: translateY(5px); } }

.pagi { position: fixed; top: 50%; right: 27px; margin-right: -7px; margin-top: -51px; width: 14px; }
.pagi li { text-align: center; margin-bottom: 3px; height: 14px; }
.pagi a { display: inline-block; vertical-align: middle; background: white; width: 6px; height: 6px; border-radius: 50%; -webkit-transition: background 0.1s linear; -moz-transition: background 0.1s linear; -o-transition: background 0.1s linear; transition: background 0.1s linear; }
.pagi a:hover { width: 9px; height: 9px; }
.pagi a.is-active, .pagi a.active { width: 100%; height: 100%; background: transparent; border: 1px solid white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.pagi.is-dark a { background: #5c1d0c; }
.pagi.is-dark a.is-active, .pagi.is-dark a.active { background: transparent; border-color: #5c1d0c; }

.footer { position: fixed; z-index: 200; bottom: 0; left: 0; right: 0; border-bottom: 1px solid #f2f2f2; background: #f4f7f8; padding: 13px 0; text-align: center; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
@media only screen and (max-height: 850px) { .footer { padding: 5px 0; } }
.footer .btn_footer { width: 290px; position: absolute; top: 22px; left: 50%; margin-left: -145px; }
@media only screen and (max-height: 850px) { .footer .btn_footer { top: 15px; } }

.btn { display: block; text-decoration: none; font-size: 16px; font-size: 1.6rem; line-height: 36px; color: white; background: #00baee; border: 1px solid #00aede; box-shadow: inset 0 2px 0 -1px #26c4f1; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.btn:hover { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3); }
.btn.btn_offer { position: absolute; z-index: 2; left: 50%; bottom: 40px; min-width: 160px; margin-left: -80px; line-height: 38px; font-size: 18px; font-size: 1.8rem; }

.person { *zoom: 1; text-align: left; float: left; width: 320px; }
.person:after { content: " "; display: table; clear: both; }
.person .person__pic { overflow: hidden; width: 56px; height: 56px; border-radius: 50%; float: left; margin-right: 10px; }
.person .person__pic img { display: block; max-width: 100%; }
.person .person__name { font-size: 16px; font-size: 1.6rem; padding-top: 2px; }
.person .person__post { font-size: 12px; font-size: 1.2rem; }
.person .person__question { display: block; font-size: 12px; font-size: 1.2rem; color: #00baee; margin-top: 5px; text-decoration: none; }
.person .person__question:hover { text-decoration: underline; }

.offer { margin-top: 10px; float: left; margin: 10px 13px 30px; -webkit-perspective: 1000px; -moz-perspective: 1000px; perspective: 1000px; }
@media only screen and (max-height: 850px) { .offer { margin-bottom: 20px; } }
.offer .offer__title { font-size: 24px; font-size: 2.4rem; font-weight: normal; color: #444444; margin-bottom: 30px; text-align: center; }
@media only screen and (max-height: 850px) { .offer .offer__title { margin-bottom: 20px; } }
.offer .offer__container { width: 300px; height: 400px; box-shadow: 0 0 35px 0 rgba(6, 6, 6, 0.15); position: relative; -webkit-perspective: 1100px; -moz-perspective: 1100px; -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
@media only screen and (max-height: 850px) { .offer .offer__container { height: 380px; } }
.offer:hover .offer__container, .offer.is-flipped .offer__container { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); }
.offer .offer__front { width: 100%; height: 100%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; background-position: 50% 50%; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; }
.offer .offer__front img { display: block; max-width: 100%; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; }
.offer .offer__backside { position: absolute; top: 0; right: 0; bottom: 0; left: 0; font-size: 0; overflow: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); }
.offer .offer-about1, .offer .offer-about2, .offer .offer-about3 { display: none; }

.offer__backside-wrap { position: relative; top: 0; left: 0; width: 200%; height: 100%; -webkit-transition: 0.4s linear; -moz-transition: 0.4s linear; -o-transition: 0.4s linear; transition: 0.4s linear; }

.offer__backside-box { float: left; width: 50%; height: 100%; padding: 30px 30px 80px; background: white; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.offer__content { width: 100%; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #282828; background: white; font-size: 0; overflow: hidden; position: relative; z-index: 10; }
.offer__content:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.offer__content .offer__list { display: inline-block; vertical-align: middle; width: 100%; font-size: 18px; font-size: 1.8rem; }
.offer__content .offer__list li { line-height: 0.9; padding-bottom: 25px; border-bottom: 1px solid #e5e5e5; margin-bottom: 25px; }
@media only screen and (max-height: 850px) { .offer__content .offer__list li { padding-bottom: 20px; margin-bottom: 20px; } }
.offer__content .offer__list li:last-child { border-bottom: none; margin-bottom: 0; }
@media only screen and (max-height: 850px) { .offer__content .offer__list li:last-child { padding-bottom: 5px; } }
.offer__content .offer__list li:hover a { color: #00baee; }
.offer__content .offer__list span { display: inline-block; width: 100%; font-size: 13px; font-size: 1.3rem; font-family: "Open Sans", sans-serif; font-weight: 100; }
.offer__content .offer__list a { display: inline-block; font-size: 12px; font-size: 1.2rem; color: #bbbbbb; }
.offer__content .offer__list a:hover { color: #00baee; }
.offer__content p { line-height: 1.2; font-size: 12px; font-size: 1.2rem; margin: 15px 0; }
.offer__content .price { float: right; padding-right: 12px; position: relative; }
.offer__content .price:after { content: ""; display: block; background: url('../img/icons-s79fb5bdedd.png') 0 -1152px no-repeat; width: 9px; height: 13px; position: absolute; top: 2px; right: 0; }
.offer__content .offer__slide-more { width: 100%; height: 100%; }

.offer__back { position: absolute; bottom: 18px; left: 0; width: 100%; display: block; text-align: center; font-size: 12px; font-size: 1.2rem; color: #bbbbbb; }
.offer__back:hover { color: #00baee; }

.offer__hint { display: block; text-align: center; margin-top: 40px; color: #282828; font-size: 14px; font-size: 1.4rem; clear: both; }
.offer__hint i { display: inline-block; background: url('../img/icons-s79fb5bdedd.png') 0 -998px no-repeat; width: 22px; height: 16px; vertical-align: middle; margin-right: 10px; position: relative; top: -1px; }

.reviews { color: #282828; width: 800px; margin: auto; font-family: "Open Sans", sans-serif; font-weight: 100; }
@media only screen and (max-height: 850px) { .reviews { width: 800px; } }
.reviews .reviews__item { width: 100%; }
.reviews .reviews__pic { margin: 0 auto; width: 150px; height: 150px; border-radius: 50%; overflow: hidden; margin-bottom: 30px; box-shadow: 0 0 35px 0 rgba(6, 6, 6, 0.15); }
.reviews .reviews__pic img { display: block; max-width: 100%; }
@media only screen and (max-height: 850px) { .reviews .reviews__pic { margin-bottom: 15px; margin-top: 5px; } }
.reviews .reviews__name { font-size: 18px; font-size: 1.8rem; display: block; text-align: center; position: relative; padding-bottom: 15px; margin-bottom: 20px; }
.reviews .reviews__name:after { content: ""; display: block; width: 85px; height: 1px; background: #ececec; position: absolute; bottom: 0; left: 50%; margin-left: -42.5px; }
@media only screen and (max-height: 850px) { .reviews .reviews__name { margin-bottom: 15px; } }
.reviews .reviews__text { font-size: 26px; font-size: 2.6rem; line-height: 1.214; display: block; text-align: center; height: 190px; padding: 0 10px; box-shadow: 0 0 20px 0 white inset; overflow: hidden; }
@media only screen and (max-height: 850px) { .reviews .reviews__text { font-size: 24px; font-size: 2.4rem; height: 175px; } }
.reviews .reviews__text::-webkit-scrollbar { width: 3px; height: 3px; background: rgba(255, 255, 255, 0); }
.reviews .reviews__text::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.1); }
.reviews .reviews__pagi { margin: 30px auto 0; font-size: 0; text-align: center; }
@media only screen and (max-height: 850px) { .reviews .reviews__pagi { margin-top: 15px; } }
.reviews .reviews__pagi li { display: inline-block; margin-right: 35px; }
.reviews .reviews__pagi li:last-child { margin-right: 0; }
.reviews .reviews__pagi .reviews__pagi-item { text-decoration: none; display: block; width: 57px; height: 57px; border-radius: 50%; overflow: hidden; opacity: 0.2; cursor: pointer; -webkit-transition: 0.1s linear; -moz-transition: 0.1s linear; -o-transition: 0.1s linear; transition: 0.1s linear; }
.reviews .reviews__pagi .reviews__pagi-item img { display: block; max-width: 100%; }
.reviews .reviews__pagi .reviews__pagi-item.is-active, .reviews .reviews__pagi .reviews__pagi-item:hover { opacity: 1; }
.reviews .cycle-pager-active .reviews__pagi-item { opacity: 1; }

.share { position: relative; font-size: 18px; font-size: 1.8rem; color: white; line-height: 66px; }
.share .share__left { position: absolute; top: 0; right: 50%; text-align: right; margin-right: 48px; }
.share .share__right { position: absolute; top: 0; left: 50%; margin-left: 48px; }
.share .share__center { text-align: center; }
.share .share__center a { display: inline-block; margin: auto; line-height: 60px; text-decoration: none; color: white; font-size: 28px; font-size: 2.8rem; text-align: center; position: relative; z-index: 1; top: 3px; }
.share .share__center a:hover .heart { -webkit-animation: none; -moz-animation: none; -o-animation: none; animation: none; -webkit-transform: scale(1.05); -moz-transform: scale(1.05); -ms-transform: scale(1.05); -o-transform: scale(1.05); transform: scale(1.05); -webkit-transition: -webkit-transform 0.2s ease; -moz-transition: -moz-transform 0.2s ease; -o-transition: -o-transform 0.2s ease; transition: transform 0.2s ease; }
.share .share__center a:active .heart { -webkit-animation: none; -moz-animation: none; -o-animation: none; animation: none; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-transition: 0.1s ease; -moz-transition: 0.1s ease; -o-transition: 0.1s ease; transition: 0.1s ease; }
.share .heart { content: ""; display: block; position: absolute; z-index: -1; top: 0; left: 50%; margin-left: -39px; background: url('../img/icons-s79fb5bdedd.png') 0 -424px no-repeat; width: 78px; height: 66px; -webkit-animation: beat 0.7s ease 0s infinite alternate; -moz-animation: beat 0.7s ease 0s infinite alternate; -o-animation: beat 0.7s ease 0s infinite alternate; animation: beat 0.7s ease 0s infinite alternate; }

@-moz-keyframes beat { 0%, 100% { -moz-transform: scale(1); transform: scale(1); }
  50% { -moz-transform: scale(1.05); transform: scale(1.05); } }

@-webkit-keyframes beat { 0%, 100% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.05); transform: scale(1.05); } }

@-o-keyframes beat { 0%, 100% { -o-transform: scale(1); transform: scale(1); }
  50% { -o-transform: scale(1.05); transform: scale(1.05); } }

@-ms-keyframes beat { 0%, 100% { -ms-transform: scale(1); transform: scale(1); }
  50% { -ms-transform: scale(1.05); transform: scale(1.05); } }

@keyframes beat { 0%, 100% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.05); -moz-transform: scale(1.05); -ms-transform: scale(1.05); -o-transform: scale(1.05); transform: scale(1.05); } }

.contacts { font-size: 20px; font-size: 2rem; line-height: 1.4; margin: 55px 15px 55px 0; text-align: right; }
.contacts a { color: white; text-decoration: none; }
.contacts a:hover { text-decoration: underline; }
.contacts li { display: inline-block; margin-right: 50px; padding-right: 28px; border-right: 1px solid #b2aea9; text-align: left; }
.contacts li:last-child { margin-right: 0; padding-right: 0; border-right: none; }
.contacts .contacts__tel, .contacts .contacts__location, .contacts .contacts__email, .contacts .contacts__link { position: relative; }
.contacts .contacts__tel:before, .contacts .contacts__location:before, .contacts .contacts__email:before, .contacts .contacts__link:before { content: ""; display: block; position: absolute; top: 6px; left: -17px; }
.contacts .contacts__tel:before { background: url('../img/icons-s79fb5bdedd.png') 0 -1079px no-repeat; width: 15px; height: 16px; }
.contacts .contacts__location:before { background: url('../img/icons-s79fb5bdedd.png') 0 -1052px no-repeat; width: 13px; height: 17px; }
.contacts .contacts__email:before { background: url('../img/icons-s79fb5bdedd.png') 0 -1105px no-repeat; width: 21px; height: 15px; left: -28px; }
.contacts .contacts__link:before { background: url('../img/icons-s79fb5bdedd.png') 0 -1024px no-repeat; width: 18px; height: 18px; left: -25px; }

.creator { color: white; display: block; text-align: right; font-family: "Open Sans", sans-serif; font-weight: 100; font-size: 14px; font-size: 1.4rem; line-height: 1.4; margin: 55px 13px 40px 0; }
.creator a { color: white; text-decoration: none; }
.creator a:hover { text-decoration: underline; }

.lastpage-wrap { position: absolute; left: 0; right: 0; bottom: 0; width: 980px; margin: auto; }

.popup { opacity: 0; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000; text-align: center; text-align: center; font-size: 0; -webkit-transition: 0.4s 0.6s linear; -moz-transition: 0.4s 0.6s linear; -o-transition: 0.4s 0.6s linear; transition: 0.4s 0.6s linear; }
.popup:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup.is-visible { opacity: 1; -webkit-transition: 0.4s linear; -moz-transition: 0.4s linear; -o-transition: 0.4s linear; transition: 0.4s linear; }
.popup.is-visible .popup__circle1 { -webkit-transition: 0.4s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); -moz-transition: 0.4s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); -o-transition: 0.4s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); transition: 0.4s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); -webkit-transform: scale(1.7); -moz-transform: scale(1.7); -ms-transform: scale(1.7); -o-transform: scale(1.7); transform: scale(1.7); }
.popup.is-visible .popup__circle2 { -webkit-transform: scale(2.4); -moz-transform: scale(2.4); -ms-transform: scale(2.4); -o-transform: scale(2.4); transform: scale(2.4); -webkit-transition: 1s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); -moz-transition: 1s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); -o-transition: 1s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); transition: 1s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.popup.is-visible .popup__circle3 { -webkit-transform: scale(5); -moz-transform: scale(5); -ms-transform: scale(5); -o-transform: scale(5); transform: scale(5); -webkit-transition: 2s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); -moz-transition: 2s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); -o-transition: 2s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); transition: 2s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.popup__form { display: inline-block; vertical-align: middle; width: 535px; height: 535px; border-radius: 50%; background: white; font-size: 18px; font-size: 1.8rem; text-align: center; line-height: 1.5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 70px; position: relative; -webkit-transition: 0.4s ease; -moz-transition: 0.4s ease; -o-transition: 0.4s ease; transition: 0.4s ease; }
.popup__form .popup__form-top { display: inline-block; margin-bottom: 50px; }
.popup__form .popup__form-top label { text-align: right; }
.popup__form input[type="text"] { background: white; -webkit-box-shadow: none; box-shadow: none; outline: none; border-bottom: 1px solid #f2f2f2; width: 200px; margin-left: 5px; text-align: left; font-size: 18px; font-size: 1.8rem; font-family: "Open Sans", sans-serif; font-weight: 100; }
.popup__form input[type="text"]:focus { border-color: #cfcecb; }
.popup__form label { display: block; margin-bottom: 15px; font-family: "Open Sans", sans-serif; font-weight: 100; }
.popup__form label:last-child { margin-bottom: 0; }
.popup__form input[type="radio"] { opacity: 0; }
.popup__form input[type="radio"] + span { position: relative; display: inline-block; line-height: 1; padding-left: 20px; }
.popup__form input[type="radio"] + span i { font-size: 14px; font-size: 1.4rem; font-family: "Open Sans", sans-serif; font-weight: 100; font-style: normal; }
.popup__form input[type="radio"] + span:before { content: ""; display: block; width: 20px; height: 20px; border-radius: 50%; background: #e6e6e6; border: 1px solid #dadada; position: absolute; top: 7px; left: -14px; }
.popup__form input[type="radio"] + span:after { content: ""; display: none; width: 10px; height: 10px; border-radius: 50%; background: #00baee; border: 1px solid #05afde; position: absolute; z-index: 2; top: 12px; left: -9px; }
.popup__form input[type="radio"]:checked + span { color: #00baee; }
.popup__form input[type="radio"]:checked + span:after { display: block; }
.popup__form textarea { display: inline-block; vertical-align: top; position: relative; top: 5px; background: white; outline: none; background: white; height: 190px; width: 300px; padding: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #f2f2f2; -webkit-border-radius: 5px; border-radius: 5px; font-size: 16px; font-size: 1.6rem; font-family: "Open Sans", sans-serif; font-weight: 100; }
.popup__form textarea:focus { border-color: #cfcecb; }
.popup__form .popup__form-middle { text-align: left; position: relative; margin-bottom: 30px; }
.popup__form .popup__form-bottom { position: absolute; width: 395px; bottom: 40px; }
.popup__form .btn_submit { display: inline-block; padding: 0 20px; }
.popup__form .popup__form-close { display: block; color: #bbbbbb; font-size: 14px; font-size: 1.4rem; margin-top: 15px; }
.popup__form .popup__form-close:hover { color: #00baee; }
.popup__form .popup__form-price { position: absolute; top: 0; right: 0; bottom: 0; width: 35%; text-align: right; border-left: 1px solid #cfcecb; }
.popup__form .popup__form-price:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; width: 0; }
.popup__form .popup__form-price .value { display: inline-block; vertical-align: middle; position: relative; padding-right: 15px; font-size: 18px; font-size: 1.8rem; }
.popup__form .popup__form-price .value:after { content: ""; display: block; background: url('../img/icons-s79fb5bdedd.png') 0 -1152px no-repeat; width: 9px; height: 13px; position: absolute; top: 7px; right: 0; }
.popup__form .popup__circle1, .popup__form .popup__circle2, .popup__form .popup__circle3 { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
.popup__form .popup__circle1 { z-index: -1; background: #89e5ff; -webkit-transition: 0.2s ease; -moz-transition: 0.2s ease; -o-transition: 0.2s ease; transition: 0.2s ease; }
.popup__form .popup__circle2 { z-index: -2; background: #6fdfff; -webkit-transition: 0.4s ease; -moz-transition: 0.4s ease; -o-transition: 0.4s ease; transition: 0.4s ease; }
.popup__form .popup__circle3 { z-index: -3; background: #56daff; -webkit-transition: 0.6s linear; -moz-transition: 0.6s linear; -o-transition: 0.6s linear; transition: 0.6s linear; }

.noscroll { overflow: hidden; }

.dove { position: absolute; z-index: 2; }

.dove_top { background: url('../img/icons-s79fb5bdedd.png') 0 -219px no-repeat; width: 45px; height: 61px; top: 13%; left: 67%; }

.dove_middle { background: url('../img/icons-s79fb5bdedd.png') 0 -150px no-repeat; width: 54px; height: 59px; top: 18%; left: 57%; }

.dove_bottom { background: url('../img/icons-s79fb5bdedd.png') 0 -368px no-repeat; width: 34px; height: 46px; top: 35.5%; left: 47%; }

.after-submit { display: none; position: absolute; z-index: 10; top: 0; right: 0; bottom: 0; right: 0; font-size: 0; background: white; -webkit-border-radius: 50%; border-radius: 50%; }
.after-submit:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.after-submit .after-submit__msg { padding: 70px; display: inline-block; vertical-align: middle; font-size: 16px; font-size: 1.6rem; font-family: "Open Sans", sans-serif; font-weight: 100; }
.after-submit .btn { display: block; width: 100px; margin: 20px auto 0 auto; }
.after-submit.is-visible { display: block; }
