/*done by Coderiver.com.ua */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,latin);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { font-size: 62.5%; }

body { font-family: "Open Sans", sans-serif; font-weight: normal; font-size: 12px; line-height: 1.2; }

.l-center { width: 980px; margin: auto; }

.page { height: 100vh; border-bottom: 1px solid #eaedee; position: relative; }
.page.page_first { background: url("../img/firstpage.jpg") 50% 0 no-repeat; background-size: cover; }
.page.page_last { background: url("../img/lastpage.jpg") 50% 0 no-repeat; background-size: cover; }

.header { margin: auto; padding-top: 16px; width: 100%; }
.header .header__logo { display: block; vertical-align: middle; background: url('../img/icons-s21eb5deec7.png') 0 0 no-repeat; width: 140px; height: 140px; margin: auto; }

.nav li { display: inline-block; margin-right: 16px; }
.nav li:last-child { margin-right: 0; }
.nav a { text-decoration: none; text-transform: uppercase; color: #5c1d0c; font-size: 14px; font-size: 1.4rem; vertical-align: baseline; }
.nav a:hover { color: #cc3300; }
.nav .nav__left, .nav .nav__right { display: block; position: absolute; top: 0; font-size: 0; }
.nav .nav__left { right: 50%; text-align: right; margin-right: 100px; }
.nav .nav__right { left: 50%; margin-left: 100px; }
.header .nav { position: relative; line-height: 140px; }
.header .nav li { font-size: 0; }
.footer .nav { float: left; margin: 17px 0; }
.footer .nav li { line-height: 68px; }

.title { text-align: center; font-family: "PT Sans", sans-serif; font-weight: normal; font-size: 48px; font-size: 4.8rem; color: #282828; line-height: 1; letter-spacing: -0.1rem; padding: 50px 0; }
.title.title_head { font-size: 62px; font-size: 6.2rem; margin-top: 84px; padding: 0; line-height: 1.03; color: #5c1d0c; }

.move-down, .move-up { display: block; position: absolute; left: 50%; margin-left: -30px; opacity: 0.8; }
.move-down:hover, .move-up:hover { opacity: 1; }

.move-down { background: url('../img/icons-s21eb5deec7.png') 0 -334px no-repeat; width: 60px; height: 60px; bottom: 215px; }

.move-up { background: url('../img/icons-s21eb5deec7.png') 0 -404px no-repeat; width: 60px; height: 60px; bottom: 29px; }

.pagi { position: fixed; top: 50%; right: 27px; margin-right: -7px; margin-top: -51px; width: 13px; }
.pagi li { text-align: center; margin-bottom: 3px; height: 13px; }
.pagi a { display: inline-block; vertical-align: middle; background: #5c1d0c; width: 6px; height: 6px; border-radius: 50%; }
.pagi a.is-active { width: 100%; height: 100%; background: transparent; border: 1px solid #5c1d0c; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.pagi.is-white a { background: white; }
.pagi.is-white a.is-active { background: transparent; border-color: white; }

.footer { bottom: 0; left: 0; right: 0; background: white; border-bottom: 1px solid #eaedee; }
.footer .footer__logo { float: left; display: block; background: url('../img/icons-s21eb5deec7.png') 0 -150px no-repeat; width: 68px; height: 68px; margin: 17px 23px 17px 0; }
.footer .footer__top { background: #f4f7f8; padding: 13px 0; border-bottom: 1px solid #f2f2f2; text-align: center; position: relative; *zoom: 1; }
.footer .footer__top:after { content: " "; display: table; clear: both; }
.footer .footer__offers { display: block; text-decoration: none; font-size: 16px; font-size: 1.6rem; line-height: 36px; color: white; background: #00baee; border: 1px solid #00aede; box-shadow: inset 0 2px 0 -1px #26c4f1; width: 290px; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; top: 23px; left: 50%; margin-left: -145px; }

.person { *zoom: 1; text-align: left; float: left; width: 300px; }
.person:after { content: " "; display: table; clear: both; }
.person .person__pic { overflow: hidden; width: 56px; height: 56px; border-radius: 50%; float: left; margin-right: 10px; }
.person .person__pic img { display: block; max-width: 100%; }
.person .person__name { font-size: 16px; font-size: 1.6rem; padding-top: 2px; }
.person .person__post { font-size: 12px; font-size: 1.2rem; }
.person .person__question { display: block; font-size: 12px; font-size: 1.2rem; color: #00baee; margin-top: 5px; text-decoration: none; }
.person .person__question:hover { text-decoration: underline; }

.social { float: right; line-height: 68px; margin: 17px 0; }
.social .icon { display: inline-block; vertical-align: middle; position: relative; top: -2px; }
.social .icon_fb { background: url('../img/icons-s21eb5deec7.png') 0 -600px no-repeat; width: 33px; height: 32px; }
.social .icon_vk { background: url('../img/icons-s21eb5deec7.png') 0 -558px no-repeat; width: 33px; height: 32px; }
.social .icon_instagram { background: url('../img/icons-s21eb5deec7.png') 0 -516px no-repeat; width: 33px; height: 32px; }
.social .icon_vimeo { background: url('../img/icons-s21eb5deec7.png') 0 -474px no-repeat; width: 33px; height: 32px; }

.gallery { position: relative; }
.gallery .gallery__slide { position: relative; width: 726px; height: 484px; margin: auto; box-shadow: 0 0 35px 0 rgba(6, 6, 6, 0.15); }
.gallery .gallery__slide img { display: block; max-width: 100%; }
.gallery .gallery__prev, .gallery .gallery__next { position: absolute; top: 215px; display: block; }
.gallery .gallery__prev { background: url('../img/icons-s21eb5deec7.png') 0 -642px no-repeat; width: 27px; height: 70px; left: 13px; }
.gallery .gallery__next { background: url('../img/icons-s21eb5deec7.png') 0 -722px no-repeat; width: 27px; height: 70px; right: 13px; }
.gallery .gallery__like { position: absolute; bottom: 14px; right: 14px; }
.gallery .gallery__like-vk, .gallery .gallery__like-fb { margin-top: 10px; float: right; clear: right; }

.offers { margin-top: 10px; float: left; margin: 10px 13px 30px; }
.offers .offers__title { font-size: 24px; font-size: 2.4rem; font-weight: normal; color: #444444; margin-bottom: 30px; text-align: center; }
.offers .offers__container { width: 300px; height: 400px; box-shadow: 0 0 35px 0 rgba(6, 6, 6, 0.15); }
.offers .offers__container img { display: block; max-width: 100%; }

.offers__hint { display: block; text-align: center; margin-top: 40px; color: #282828; font-size: 14px; font-size: 1.4rem; clear: both; }
.offers__hint i { display: inline-block; background: url('../img/icons-s21eb5deec7.png') 0 -802px no-repeat; width: 22px; height: 16px; vertical-align: middle; margin-right: 10px; position: relative; top: -1px; }

.reviews { color: #282828; width: 550px; margin: auto; font-family: "Open Sans", sans-serif; font-weight: 100; }
.reviews .reviews__pic { margin: 0 auto; width: 150px; height: 150px; border-radius: 50%; overflow: hidden; margin-bottom: 30px; box-shadow: 0 0 35px 0 rgba(6, 6, 6, 0.15); }
.reviews .reviews__pic img { display: block; max-width: 100%; }
.reviews .reviews__name { font-size: 18px; font-size: 1.8rem; display: block; text-align: center; position: relative; padding-bottom: 15px; margin-bottom: 20px; }
.reviews .reviews__name:after { content: ""; display: block; width: 85px; height: 1px; background: #ececec; position: absolute; bottom: 0; left: 50%; margin-left: -42.5px; }
.reviews .reviews__text { font-size: 28px; font-size: 2.8rem; line-height: 1.214; display: block; text-align: center; }
.reviews .reviews__pagi { margin: 65px auto 0; font-size: 0; text-align: center; }
.reviews .reviews__pagi li { display: inline-block; margin-right: 35px; }
.reviews .reviews__pagi li:last-child { margin-right: 0; }
.reviews .reviews__pagi .reviews__pagi-item { text-decoration: none; display: block; width: 57px; height: 57px; border-radius: 50%; overflow: hidden; opacity: 0.2; }
.reviews .reviews__pagi .reviews__pagi-item img { display: block; max-width: 100%; }
.reviews .reviews__pagi .reviews__pagi-item.is-active { opacity: 1; }

.share { position: relative; font-size: 18px; font-size: 1.8rem; color: white; line-height: 66px; }
.share .share__left { position: absolute; top: 0; right: 50%; text-align: right; margin-right: 48px; }
.share .share__right { position: absolute; top: 0; left: 50%; margin-left: 48px; }
.share .share__center { display: block; margin: auto; line-height: 60px; text-decoration: none; color: white; font-size: 28px; font-size: 2.8rem; text-align: center; background: url('../img/icons-s21eb5deec7.png') 0 -228px no-repeat; width: 78px; height: 66px; position: relative; top: 3px; }

.contacts { font-size: 20px; font-size: 2rem; line-height: 1.4; margin: 55px 15px 55px 0; text-align: right; }
.contacts a { color: white; text-decoration: none; }
.contacts a:hover { text-decoration: underline; }
.contacts li { display: inline-block; margin-right: 50px; padding-right: 28px; border-right: 1px solid #b2aea9; text-align: left; }
.contacts li:last-child { margin-right: 0; padding-right: 0; border-right: none; }
.contacts .contacts__tel, .contacts .contacts__location, .contacts .contacts__email, .contacts .contacts__link { position: relative; }
.contacts .contacts__tel:before, .contacts .contacts__location:before, .contacts .contacts__email:before, .contacts .contacts__link:before { content: ""; display: block; position: absolute; top: 6px; left: -17px; }
.contacts .contacts__tel:before { background: url('../img/icons-s21eb5deec7.png') 0 -883px no-repeat; width: 15px; height: 16px; }
.contacts .contacts__location:before { background: url('../img/icons-s21eb5deec7.png') 0 -856px no-repeat; width: 13px; height: 17px; }
.contacts .contacts__email:before { background: url('../img/icons-s21eb5deec7.png') 0 -909px no-repeat; width: 21px; height: 15px; left: -28px; }
.contacts .contacts__link:before { background: url('../img/icons-s21eb5deec7.png') 0 -828px no-repeat; width: 18px; height: 18px; left: -25px; }

.creator { color: white; display: block; text-align: right; font-family: "Open Sans", sans-serif; font-weight: 100; font-size: 14px; font-size: 1.4rem; line-height: 1.4; margin: 55px 13px 40px 0; }
.creator a { color: white; text-decoration: none; }
.creator a:hover { text-decoration: underline; }

.lastpage-wrap { position: absolute; left: 0; right: 0; bottom: 0; width: 980px; margin: auto; }
